{% extends 'layout' %}

{% block content %}
<div class="ui text container">	
    <h1 class="ui dividing header">Тест когнитивных способностей</h1>

	<div class="ui vertical segment">	
		<h3 class="ui header">О тесте</h3>
		<p>Данная система тестов разработана с целью определения индивидуальных когнитивных способностей человека и в дальнейшем будет использована, как основа для моделирования психоэмоционального состояния диспетчеров АСДУ.</p>
		<p>Тесты в данной системе предназначены для оценки различных показателей, в том числе:</p>
		<ul>
			<li>Интроверсия/Экстраверсия</li>
			<li>Эмоциональная стабильность</li>
			<li>Пластичность/Ригидность мышления</li>
			<li>Скорость реакции и энергетический потенциал человека</li>
			<li>Оценка различных показателей в стрессовой ситуации</li>
		</ul>
		<p>Также во время прохождения тестов будет записан видео и аудиоряд, для дальнейшего сравнения и анализа.</p>
		<p>Приступать к прохождению тестов следует в спокойном состоянии, полностью сосредоточенным на предоставленных задачах.</p>
	</div>

	<div class="ui vertical center aligned segment">	
		<a class="ui huge primary button" href="/start">Принять участие</a>	
	</div>
</div>

{% endblock %}