{% extends 'layout' %}

{% block content %}
<div class="ui text container">	
    <h1 class="ui dividing header">Тест когнитивных способностей</h1>

	<div class="ui vertical segment">	
		<h3 class="ui header">Container</h3>
		<p>A container is a fixed width element that wraps your site's content. It remains a constant size and uses <b>margin</b> to center. Containers are the simplest way to center page content inside a grid.</code>
		</p>
	</div>

	<div class="ui vertical segment">	
		 <h3 class="ui header">Container</h3>
		<p>A container is a fixed width element that wraps your site's content. It remains a constant size and uses <b>margin</b> to center. Containers are the simplest way to center page content inside a grid.</code>
		</p>
	</div>

	<div class="ui vertical center aligned segment">	
		<a class="ui huge primary button" href="/start">Принять участие</a>	
	</div>
</div>

{% endblock %}