<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PsycologicalWebTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PsycologicalWebTest.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="PathToResults" serializeAs="String">
                <value>D:\\TestResults\\</value>
            </setting>
            <setting name="ParticipantsFile" serializeAs="String">
                <value>D:\\TestResults\\participants.json</value>
            </setting>
            <setting name="TestsFile" serializeAs="String">
                <value>tests.json</value>
            </setting>
            <setting name="SessionsSecret" serializeAs="String">
                <value>somesecretkey</value>
            </setting>
            <setting name="PathToStatic" serializeAs="String">
                <value>../../static</value>
            </setting>
            <setting name="PathToTemplates" serializeAs="String">
                <value>../../Templates</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>http</value>
            </setting>
        </PsycologicalWebTest.Properties.Settings>
    </applicationSettings>
</configuration>