<div class="ui grid">
    <div class="four wide column">
        <div class="ui header">{{ mark.name }} {% if mark.unit %}<small><i>({{ mark.unit }})</i></small>{% endif %}</div>
        <p>{{ mark.description }}</p>

        <div class="ui mini statistics">
            <div class="statistic">
                <div class="value" id="mark-stats-total-{{mark.pk}}">2,204</div>
                <div class="label">Всего</div>
            </div>
        </div>
    </div>
    {% if mark.data_type == 'NUMERIC' %}
    <div class="four wide column">
        <table class="ui compact green table">
            <thead>
                <tr>
                  <th>Метрика</th>
                  <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4 class="ui header">Среднее</h4></td>
                    {% if mark.format %}
                    <td><span class="ui header" id="mark-stats-mean-{{mark.pk}}">{{ val.value|stringformat:mark.format }}</span> {{ mark.unit }}</td>
                    {% else %}
                    <td><span class="ui header" id="mark-stats-mean-{{mark.pk}}">{{ val.value }}</span> {{ mark.unit }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><h4 class="ui header">Станд. откл.</h4></td>
                    {% if mark.format %}
                    <td><span class="ui header" id="mark-stats-std-{{mark.pk}}">{{ val.value|stringformat:mark.format }}</span> {{ mark.unit }}</td>
                    {% else %}
                    <td><span class="ui header" id="mark-stats-std-{{mark.pk}}">{{ val.value }}</span> {{ mark.unit }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><h4 class="ui header">Минимум</h4></td>
                    {% if mark.format %}
                    <td><span class="ui header" id="mark-stats-min-{{mark.pk}}">{{ val.value|stringformat:mark.format }}</span> {{ mark.unit }}</h3></td>
                    {% else %}
                    <td><span class="ui header" id="mark-stats-min-{{mark.pk}}">{{ val.value }}</span> {{ mark.unit }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><h4 class="ui header">Максимум</h4></td>
                    {% if mark.format %}
                    <td><span class="ui header" id="mark-stats-max-{{mark.pk}}">{{ val.value|stringformat:mark.format }} {{ mark.unit }}</span></td>
                    {% else %}
                    <td><span class="ui header" id="mark-stats-max-{{mark.pk}}">{{ val.value }}</span> {{ mark.unit }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="eight wide column">
        <div id="mark-stats-plot-{{mark.pk}}" height="200"></div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
$(function(){
    $.get('/api/test_marks/{{mark.id}}/stats', function(data){
        console.log(data);
        mark = {
            id: {{mark.pk}},
            name: '{{ mark.name }}',
            format: '%{{ mark.format }}',
            unit: '{{ mark.unit }}',
            dataType: '{{ mark.data_type }}',

            set: function(elemId, value) {
               this.getElem(elemId).text(sprintf(mark.format, value));
            },

            getElem: function(elemId) {
                return $('#mark-stats-'+ elemId + '-' +this.id);
            },
        };

        mark.set('total', data.len);

        if (mark.dataType == 'NUMERIC') {
            mark.set('min', data.min);
            mark.set('max', data.max);
            mark.set('mean', data.mean);
            mark.set('std', data.std);

            plotlyData = [
                {
                    //x: data.histogram.edges,
                    //y: data.histogram.values,
                    //type: 'bar',

                    // Auto calc histogram
                    x: data.values,
                    type: 'histogram',
                }
            ];
            var layout = {
                bargap: 0.05,
                bargroupgap: 0.2,
                xaxis: { title: '{{ mark.name }} ({{ mark.unit }})', },
                yaxis: { title: 'Участников' },
                height: 200,
                margin: {l:30,r:10,t:10,b:30,pad:0},
                legend: false,
            };
            Plotly.newPlot('mark-stats-plot-{{mark.pk}}', plotlyData, layout, {displayModeBar: false});
        }
    });
});
</script>
