<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Тест когнитивных способностей{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="author" content="Boris Shishov">
		{% load static %}
		<link href="{% static 'css/semantic.min.css' %}" rel="stylesheet" media="all">
		<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'js/semantic.min.js' %}"></script>
		<script src="{% static 'js/DetectRTC.min.js' %}"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="ui menu">
			<div class="item header">Тест когнитивных способностей</div>
			{% if participant %}<div class="item right">{{ participant.name }}</div>{% endif %}
		</div>

		<div class="ui container" style="padding-top: 3em;">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
