{% extends 'layout.html' %}

{% block content %}
<div class="ui text container">

	<form class="ui form" method="POST">
	  	<div class="field">
			<label>Имя</label>
			<input type="text" name="name" placeholder="Ваше имя"  value="{{ participant.name }}">
			{{ Participant.Name }}
		</div>
	   	<div class="two fields">
		  	<div class="field">
				<label>Возраст</label>
				<input type="number" name="age" placeholder="Ваш возраст" value="{{ participant.age }}">
		  	</div>
		  	<div class="field">
				<label>Пол</label>
				<select class="ui dropdown" name="gender">
			  		<option value="male">Мужской</option>
			  		<option value="female">Женский</option>
				</select>
		  	</div>
	  	</div>
	  	<div class="field">
			<div class="ui checkbox">
		  		<input type="checkbox" name="allow">
		  		<label>Я даю согласие на использование моих данных в научных работах</label>
			</div>
	  	</div>

		{% csrf_token %}
	  	<button class="ui primary  huge button" type="submit">Начать тест</button>
	  	<div class="ui error message">
		  	{% for field, error_messages in errors.items %}
				{% for error in error_messages %}
				<p data-field="{{field}}">{{ error }}</p>
				{% endfor %}
			{% endfor %}
	  	</div>
	</form>
</div>

<script type="text/javascript">
$('.ui.form')
  .form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Укажите имя'
          }
        ]
      },
      age: {
        identifier: 'age',
        rules: [
          {
            type   : 'empty',
            prompt : 'Укажите возраст'
          }
        ]
      },
      gender: {
        identifier: 'gender',
        rules: [
          {
            type   : 'empty',
            prompt : 'Укажите пол'
          }
        ]
      }
    }
  });
 </script>

{% endblock %}