{% extends 'layout.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}{{ survey.name }}{% endblock %}

{% block content %}
<div class="stripe"  {% if survey.image %}style='background-image:url("{{survey.image.url}}");'{% endif %}>
    <div class="ui container">
        <i>Испытание</i>
        <h1 class="ui header">{{ survey.name }}</h1>
        <div class="description">{{ survey.short_description }}</div>
        {% if survey.active %}
        <a class="ui huge primary button" href="{% url 'survey-start' survey.pk %}">Начать</a>
        {% if result and not result.is_completed %}
        <a class="ui huge green button" href="{% url 'survey-continue' result.pk %}">Продолжить</a>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="ui dobuling two column stackable grid container">
    <div class="column">
        <h2 class="ui header">Об испытании</h2>
        {% if survey.description %}
            {{ survey.description | markdown }}
        {% endif %}

        {% if test.marks %}
        <div class="ui section">
            <div class="ui header">Оцениваемые параметры</div>
            <div class="ui bulleted list">
            {% for mark in survey.marks.visible %}
                <div class="item">
                    <div class="header">{{ mark.name }}</div>
                    {{ mark.description }}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="ui divider"></div>
        {% endif %}

        {% if survey.tests %}
        <div class="ui section">
            <div class="ui header">Тесты</div>
            <div class="ui bulleted list">
            {% for test in survey.tests.active_web %}
                <div class="item">
                    <div class="header">{{ test.name }} <a href="{% url 'test' test.pk %}" class="ui mini basic icon button"><i class="info icon"></i> </a></div>
                    {{ test.short_description|markdown }}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="ui divider"></div>
        {% endif %}

        <a class="ui huge primary button" href="{% url 'survey-start' survey.pk %}">Начать</a>
    </div>
    <div class="column">
        <h2 class="ui header">Результаты</h2>
        {% if result %}
        {% if result.is_completed %}
        <div class="ui section">
            <h4 class="ui header">Ваш последний результат:</h4>
            {{ result.created }}
            {% include 'include/result_value_table.html' %}
            <div>
                <a href="{% url 'survey-results' result.pk %}">Детальные результаты</a>
            </div>
        </div>
        {% else %}
        <div class="ui info message">
            <div class="ui header">Вы уже приступали к этому испытанию</div>
            <p>Вы начинали проходить этот тест {{ result.created }} и можете продолжить с того места, где закончили.</p>
            <strong>Вам осталось пройти:</strong>
            <div class="ui bulleted list">
            {% for test in result.incomplete_tests %}
                <div class="ui item">{{ test.name }}</div>
            {% endfor %}
            </div>
            <a class="ui green button" href="{% url 'survey-continue' result.pk %}">Продолжить</a>
        </div>
        {% endif %}
        {% else %}
         <div class="ui info message">
            <div class="header">Нет результатов</div>
            Вы еще не проходили этот тест
        </div>
        {% endif %}
        {% if results %}
        <h4 class="ui header">Предыдущие результаты:</h4>
        <div class="ui accordion">
        {% for result in results %}
            {% if not forloop.first %}
            <div class="title">
                <i class="dropdown icon"></i> {{ result.created }}
            </div>
            <div class="content">
                {% include 'include/result_value_table.html' %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>


<script type="text/javascript">
$('.ui.accordion').accordion({exclusive: false});
</script>
{% endblock %}
