{% extends 'layout.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}Группы тестов{% endblock %}

{% block content %}
<div class="ui container">
	<div class="ui huge header">Испытания</div>
	<a class="ui cards">
		{% for survey in surveys %}
			<a class="ui link card" href="{% url 'survey' survey.pk %}">
				<div class="image">
					{% thumbnail survey.image "400" crop="center" format="PNG" as im %}
						 <img src="{{ im.url }}" width="100%" alt="{{ survey.name }}">
					{% endthumbnail %}
			  	</div>
			  	<div class="content">
					<div class="header">{{ survey.name }}</div>
					<div class="description">
				  		<p>{{ survey.short_description|markdown }}</p>
					</div>
			  	</div>
			</a>
		{% endfor %}
	</div>
	<div class="ui divider"></div>
	<div class="ui huge header">Отдельные тесты</div>
	<div class="ui cards">
		{% for test in tests %}
			<a class="ui link card" href="{% url 'test' test.pk %}">
			  	<div class="content">
					<div class="header">{{ test.name }}</div>
					<div class="description">
				  		<p>{{ test.description|markdown }}</p>
					</div>
			  	</div>
			</a>
		{% endfor %}
	</div>
</div>
{% endblock %}