{% extends 'layout.html' %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %}{{ test.test.name }} ({{ test.group.name }}){% endblock %}

{% block head %}
<script src="//cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="{% static 'js/seedrandom.min.js' %}"></script>
<script src="{% static 'js/svg.min.js' %}"></script>
<script src="{% static 'js/testRecorder.js' %}"></script>
{% for resource in test.group.resources.all %}
	{% if resource.extension == '.js' %}
		<script src="{% get_media_prefix %}{{ resource.file.name }}" type="text/javascript"></script>
	{% endif %}
	{% if resource.extension == '.css' %}
		<link href="{% get_media_prefix %}{{ resource.file.name }}" rel="stylesheet" media="all">
	{% endif %}
{% endfor %}
{% for resource in test.resources.all %}
	{% if resource.extension == '.css' %}
		<link href="{% get_media_prefix %}{{ resource.file.name }}" rel="stylesheet" media="all">
	{% endif %}
{% endfor %}
{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="row">
		<div class="ui ten wide column">
			<h1 class="ui header">{{ test.test.name }}</h1>
			{% if test.test.description %}
				<p>{{ test.test.description }}</p>
			{% endif %}
			{% if test.instructions %}
				{{ test.instructions|markdown }}
			{% endif %}
		</div>

		<div class="six wide column">

		</div>
	</div>

	<div class="sixteen wide column">
		<div class="ui warning hidden message" id="warning">
		  <i class="close icon"></i>
		  <div class="header">Ой!</div>
		  <ul class="list">
		  </ul>
		</div>

		<div class="ui segment">
			<svg height="500px" width="100%" id="test"></svg>

			<div class="ui inverted dimmer" id="start">
				<div class="content">
					<div class="center">
						<a class="ui huge primary button" id="startButton">Начать</a>
					</div>
				</div>
			</div>

			<div class="ui dimmer" id="next">
				<div class="content">
					<div class="center">
						<h2 class="ui inverted icon header">
							<i class="check icon"></i>
							Тест пройден
						</h2>
						<div class="ui content">
							<a href="" class="ui small button">Еще раз</a>
							<a href="{{ next }}" class="ui small primary button">Продолжить</a>
						</div>
					</div>
				</div>
			</div>

			<div class="ui dimmer" id="loading">
				<div class="ui active indeterminate text loader">Загружаем реузльтаты</div>
			</div>
		</div>
	</div>
</div>

<script>
var draw = SVG('test');
var recorder = new TestRecorder(document.getElementById("test"), {
	mouse: {{ test.record_mouse|lower }},
	audio: {{ test.record_audio|lower }},
	video: {{ test.record_video|lower }},
	post_to: "/api/tests/{{ test.test.id }}/results/",
	additional_data: {csrfmiddlewaretoken: '{{csrf_token}}'},
});

$('.dimmer').dimmer({ closable: false });

var test = new TestManager(recorder);
$('#startButton').click(function() { test.start(); });
$('#start').dimmer('show');
test.on("start", function() {
	$('#start').dimmer('hide');
});

test.on("complete", function() {
	$('#loading').dimmer('show');
});

test.on("sendComplete", function() {
	$('#loading').dimmer('hide');
	$('#next').dimmer('show');
});


$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  });

DetectRTC.load(function() {
	var warnings = [];
	{% if test.record_audio %}
	if(!DetectRTC.hasMicrophone)
		warnings.push("Для этого теста требуется микрофон");
	{% endif %}

	{% if test.record_video %}
	if(!DetectRTC.hasWebcam)
		warnings.push("Для этого теста требуется вебкамера, подключите камеру и обновите страницу");
	{% endif %}

	if(warnings.length > 0) {
		warnings.forEach(function(w) {
			$('#warning ul').append("<li>" + w + "</li>");
		});
		$('#warning').show();
	}
});
</script>

{% for resource in test.resources.all %}
	{% if resource.extension == '.js' %}
		<script src="{% get_media_prefix %}{{ resource.file.name }}" type="text/javascript"></script>
	{% endif %}
{% endfor %}
{% if test.js_inline_script %}
	<script type="text/javascript">
	{% autoescape off %}
	{{ test.js_inline_script }}
	{% endautoescape %}
	</script>
{% endif %}
{% endblock %}